:root {
  --bg-dark: #020109;
  --bg-elevated: #050515;
  --text-dark: #f9fafb;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--bg-dark);
  color: var(--text-dark);
}

/* SOLO ESTO para Tailwind 4 */
@import "tailwindcss";
